MODEL_PROVIDER=openai
MODEL_API_KEY=replace-with-real-api-key
MODEL_BASE_URL=https://api.openai.com/v1
MODEL_COMPLETION_MODEL=gpt-4.1-mini
MODEL_GENERATION_MODEL=gpt-4.1

DATABASE_URL=postgresql://user:password@host:port/database?options

NEXTAUTH_URL=http://localhost:3000
AUTH_SECRET=replace-with-real-secret

AUTH_GITHUB_SECRET=replace-with-real-secret
AUTH_GITHUB_ID=replace-with-real-id

AUTH_GOOGLE_ID=replace-with-real-id
AUTH_GOOGLE_SECRET=replace-with-real-secret